/*
Nate Conley's Super Awesome CSS Framework
Copyright 2015 Nathan Conley
MIT License
nateconley.com
github.com/nateconley
*/

/* Contents
		General Styling
		Grid
		Tools
*/

/* General Styling */
.container {
  width: 100%;
  box-sizing: border-box
}

/* Grid */
.columns { 
	float: left;
	box-sizing: border-box;
}
.one { width: 8.3333333333%; }
.two { width: 16.6666666667%; }
.three {width: 25%;}
.four { width: 33.3333333333%; }
.five { width: 41.6666666667%; }
.six { width: 50%; }
.seven { width: 58.3333333333%; }
.eight { width: 66.6666666667%; }
.nine { width: 75%; }
.ten { width: 83.3333333333%; }
.eleven { width: 91.6666666667%; }
.twelve { width: 100%; }

.offset-one { margin-left: 8.3333333333%; }
.offset-two { margin-left: 16.6666666667%; }
.offset-three { margin-left: 25%;}
.offset-four { margin-left: 33.3333333333%; }
.offset-five { margin-left: 41.6666666667%; }
.offset-six { margin-left: 50%; }
.offset-seven { margin-left: 58.3333333333%; }
.offset-eight { margin-left: 66.6666666667%; }
.offset-nine { margin-left: 75%; }
.offset-ten { margin-left: 83.3333333333%; }
.offset-eleven { margin-left: 91.6666666667%; }

/* Tools */
.full-height { min-height: 100vh; }